

:root {
  --primary-color: #8263a3;
  --text-dark: #232637;
  --white: #ffffff;
 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  position: absolute;
  padding: .7rem .7rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1%;

}


body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #dbdce0;
}

body::after {
  position: fixed;
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: var(--text-dark);
  z-index: -1;

  animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
  0% {
    width: 0vw;
  }
  100% {
    width: 50vw;
  }
}

body::before {
  position: fixed;
  content: "0";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 70rem;
  font-weight: 200;
  color: var(--white);
  z-index: -1;
  opacity: 0.5;
}

.container {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
  overflow: hidden;
}

nav {
  padding-block: 2rem 0;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links  {
  font-weight: 500;
}

.nav-links .logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-left{
  color: var(--text-dark);
}

.nav-right{
  color: var(--white);
}



.letter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40rem;
  line-height: 40rem;
  font-weight: 900;
  color:var(--primary-color);
}

.container img {
  position: absolute;
  width: 100%;
  max-width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
  z-index: 2;
}

.title{
  position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 4.5rem;
  color: var(--white);
  letter-spacing: 10px;
  white-space: nowrap;
  z-index: 3;
}

.text-left {
  position: absolute;
  right: 100%;
  margin-right: 110px;

  opacity: 1;
}

.text-right {
  position: absolute;
  left: 50%;
  margin-left: 150px;
  opacity: 1;
  
}

.container .explore {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 225px));
  color: var(--text-dark);
  background-color: var(--white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  
}



.container h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  font-weight: 600;
}



.feature-1 {
  color: var(--text-dark);
  transform: translate(calc(-50% - 400px), calc(-50% - 75px));
  
}

.feature-2 {
  color: var(--white);
  transform: translate(calc(-50% + 400px), calc(-50% - 75px));
 
}

.feature-3 {
  color: var(--text-dark);
  transform: translate(calc(-50% - 400px), calc(-50% + 150px));
  
}

.feature-4 {
  color: var(--white);
  transform: translate(calc(-50% + 420px), calc(-50% + 150px));
 
}

.feature-1,.feature-2,.feature-3,.feature-4{
  opacity: 0;
  animation: subtittleIn 0.8s ease forwards;
}
.feature-1{
  animation-delay: 1.7s;
}
.feature-2{
  animation-delay: 2.2s;
}
.feature-3{
  animation-delay: 2.7s;
}
.feature-4{
  animation-delay: 3.2s ;
}


@keyframes subtittleIn{
  0%{
    opacity: 0;
    
  }
  100%{
    opacity: 1;
    
  }
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-inline: 1rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

.footer-link {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer-link li {
  opacity: 0;
  animation: fade__in 0.3s ease-in-out forwards;
}

.footer-link li:nth-child(1) {
  animation-delay: 4s;
}
.footer-link li:nth-child(2) {
  animation-delay: 4.5s;
}
.footer-link li:nth-child(3) {
  animation-delay: 5s;
}

@keyframes fade__in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-link {
  color: var(--white);
}

.footer-link:hover {
  color: var(--primary-color);
}

@media (width > 540px) {
}
@media (width > 768px) {
}
@media (width > 1024px) {
}
